{
  "plugins": [["@babel/plugin-transform-react-jsx", { "pragma": "h" }, "preset"]],
  "presets": [
    ["@babel/preset-env", { "targets": { "chrome": 100 } }],
    ["@babel/preset-typescript", { "jsxPragma": "h" }]
  ],
  "sourceType": "unambiguous"
}
